.header{
    text-align: center;
    margin: 35px;
}
.title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.desc{
    font-size: 18px;
    font-weight: 500;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse:collapse ;
}
.col{
    border: 4px double #ccc;
    width: 30% !important;

}
.col .job{
    font-size: 18px;
}
.img{
   overflow: hidden;
    aspect-ratio: 4/3;
    width: 100%;
   
    
}
.img img{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.info{
    margin: 20px 20px;
}

.sub,ul,ol,.language{
    font-size: 18px;
}